<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
	<meta charset="UTF-8">
	<title>List of owners</title>
</head>
<body>
<h2 th:text="#{owners.index.title}">Owners Index Page</h2>
<table class="table table-striped">
	<thead>
	<tr>
		<th th:text="#{owners.index.list.thead.id}">ID</th>
		<th th:text="#{owners.index.list.thead.firstName}">First name</th>
		<th th:text="#{owners.index.list.thead.lastName}">Last name</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="owner : ${owners}">
		<td th:text="${owner.id}">ID</td>
		<td th:text="${owner.firstName}">First name</td>
		<td th:text="${owner.lastName}">Last name</td>
	</tr>
	</tbody>
</table>
</body>
</html>